/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

$balanced: #32b77d;
$assertive: #b50f22;
$calm: #FF908F;
$energized: #FF764C;
$stable: #f8f8f8;

$ionicons-font-path: "../../bower_components/ionic/release/fonts";

@import "../../bower_components/ionic/scss/ionic";
@import "../../bower_components/ionic-sass-helper/src/style";
html, body,
.ionic-wechat-app {
  height: 100%;
  background: #f2f2f2;
}

.no-padding {
  padding: 0 !important;;
}

@mixin mask {
  background: rgba(#000, 0.8);
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
