/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

$balanced: #32b77d;
$assertive: #b50f22;
$calm: #FF908F;
$energized: #FF764C;
$stable: #f8f8f8;
$slide-pager-page-color:#fff;

//$ionicons-font-path: "../../bower_components/ionic/release/fonts";
$ionicons-font-path: "../fonts";

@import "../../bower_components/ionic/scss/ionic";
@import "../../bower_components/ionic-sass-helper/src/style";
html, body,
.<%= project_name %> {
  height: 100%;
  background: #f2f2f2;
}

.no-padding {
  padding: 0 !important;;
}

.mask {
  background: rgba(#000, 0.8);
}

.col-10,
.col-20,
.col-25,
.col-33,
.col-34,
.col-50,
.col-66,
.col-67,
.col-75,
.col-80,
.col-90 {
  -webkit-box-flex: 1;
}

.slider-pager {
  .slider-pager-page {
    color: $slide-pager-page-color;
  }
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
