/**toastr-override Start**/
.toast-center{
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
}

#toast-container {
  >.toast-info{
    box-shadow: none;
    padding:1rem;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
    color:#fff;
    font-size:0.8rem;
    text-align: center;
  }
  &> .toast-info{
    background-image:none !important;
    background-repeat:no-repeat;
  }
}
/**toastr-override  End**/
